@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #e6e4e4;
}

.remove-scrollbar::-webkit-scrollbar {
    display: none;
}

.slick-arrow::before {
    font-size: 30px!important;
    color: gray!important;
}
.slick-next:before {
    position: absolute!important;
    left: -10px;
}
.slick-prev:before {
    position: absolute!important;
    right: -8px;
}

.login-input::placeholder {
    color: #38bff8bd;
}

/* No of product input field hide arrow (CART) */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
